body {
  padding: 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #1aad19;
  color: #fff;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 1rem; }

.page__hd {
  padding: 40px;
  text-align: center; }

.page__content .weui-grid__label {
  color: #1aad19; }

a.menu__icon {
  margin-left: 10px;
  margin-right: 10px; }
  a.menu__icon img {
    width: 24px;
    height: 24px; }

.parcel-search .weui-search-bar {
  background: #fff; }
  .parcel-search .weui-search-bar::before {
    border: none; }

.parcel-search .weui-search-bar__label {
  line-height: 1.42857143em; }

.parcel-search .searchbar-result {
  display: none; }

.weui-icon-edit::before {
  content: url(/img/edit.svg); }

.weui-icon-add::before {
  content: url(/img/add.svg); }

.weui-icon-scan::before {
  content: url(/img/scan.svg);
  width: 20px; }

a.disabled {
  cursor: not-allowed;
  opacity: 0.2; }

.display-none {
  display: none; }
