{{#section 'style'}}
<style>
    .weui-cell__bd {
        margin-right: 10px;
    }
    .weui-cells_form .weui-cell__ft {
        text-align: center;
        font-size: 20px;
    }
    .weui-icon-cancel, .weui-icon-success {
        font-size: 20px;
    }
    .weui-toast1 {
        width: 90%;
        position: fixed;
        z-index: 5000;
        min-height: 4em;
        left: 5%;
        background: #eee;
        text-align: center;
        border-radius: 5px;
        color: var(--warn-color);
    }
</style>
{{/section}}
<div class="weui-form parcel-form">
    <div class="weui-form__text-area">
        <h2 class="weui-form__title">{{title}}</h2>
        <div class="weui-form__desc"></div>
    </div>
    <div class="weui-form__control-area">
        <div class="weui-cells__group weui-cells__group_form">
            <div class="weui-cells weui-cells_form parcel-list">
                {{#each parcels}}
                    <div class="weui-cell parcel-unit" data-id="{{_id}}" data-pid="{{package}}">
                        
                        <div class="weui-cell__bd">
                            <input class="weui-input parcel-series" placeholder="填写单号" value="{{series}}" onkeyup="keyupFunc(this)" disabled>
                        </div>
                        <div class="weui-cell__ft">                      
                            <a class="delete-parcel" onclick="deleteFunc(this)">
                                <i class="weui-icon-delete"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
                <div class="weui-cell parcel-unit"> 
                    <div class="weui-cell__bd">
                        <input class="weui-input parcel-series" placeholder="填写单号" onkeyup="keyupFunc(this)" >
                        {{!-- <input class="weui-input parcel-desc" placeholder="简单描述"> --}}
                    </div>
                    <div class="weui-cell__ft">
                        <a class="scan-parcel" onclick="scanFunc(this)">
                            <i class="weui-icon-scan"></i>
                        </a>
                        <a class="camera-parcel disabled" onclick="cameraFunc(this)">
                            <i class="weui-icon-camera"></i>
                        </a>
                        <a class="confirm-parcel disabled" onclick="confirmFunc(this)">
                            <i class="weui-icon-success"></i>
                        </a>
                        <a class="delete-parcel display-none" onclick="deleteFunc(this)">
                            <i class="weui-icon-delete"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js_dialog" id="androidDialog" style="opacity: 0; display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog weui-skin_android">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">删除包裹</strong></div>
        <div class="weui-dialog__bd">
            确定删除包裹 <span class="parcelId"></span>?
        </div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary confirm-delete">确定</a>
        </div>
    </div>
</div>
<div id="toast" style="opacity: 0; display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast1">
        <i class="weui-icon-warn"></i>
        <p class="weui-toast__content"></p>
    </div>
</div>
{{#section 'script'}}
<script>
    var $parcel_unit_dom = $('.parcel-unit:not([data-id])').clone();
    var $parcel_list = $('.parcel-list');

    function keyupFunc(el) {
        var $confirmBtn = $(el).closest('.parcel-unit').find('.confirm-parcel');
        var $cameraBtn = $(el).closest('.parcel-unit').find('.camera-parcel');
        if ($(el).val()) {
            $confirmBtn.removeClass('disabled');
            $cameraBtn.removeClass('disabled');
        }
        else {
            $confirmBtn.addClass('disabled');
            $cameraBtn.addClass('disabled')
        }
    }
    
    function confirmFunc(el) {
        
        if ($(el).hasClass('disabled')) return;
        var $parcel_unit = $(el).closest('.parcel-unit');
        var $parcel_series = $parcel_unit.find('.parcel-series');
        var $confirmBtn = $(el);
        var parcelSeries = $parcel_series.val();
        if (!parcelSeries) return; 
        if (!validateParcel(parcelSeries)) return;
        var data = {user: 'oCXVSt-WnhdRwjsZbyFUG_GN1BXc', media: $parcel_unit.data('media')};
        $parcel_series.attr('disabled', 'disabled');
        $confirmBtn.addClass('display-none');

        $.ajax({
            type: "POST",
            dataType: 'json',
            url: `/api/parcel/${parcelSeries}/receive`,
            data: data,
            success: function(res) {
                
                if (res && res._id) {
                    $parcel_unit.data('id', res._id);
                    $parcel_unit.find('.delete-parcel').removeClass('display-none');
                    $parcel_unit.find('.scan-parcel').addClass('display-none');
                    $parcel_unit.find('.camera-parcel').addClass('display-none');
                    var $newUnit = $parcel_unit_dom.clone();
                    $parcel_unit.after($newUnit);
                    $newUnit.find('.parcel-series').focus()
                } else {
                    $parcel_series.removeAttr('disabled');
                    $parcel_unit.find('.camera-parcel').removeClass('display-none');
                    $parcel_unit.find('.delete-parcel').addClass('display-none');
                    $confirmBtn.removeClass('display-none');
                }
            },
            error: function(err) {
                
                $parcel_series.removeAttr('disabled');
                $parcel_unit.find('.camera-parcel').removeClass('display-none');
                $parcel_unit.find('.delete-parcel').addClass('display-none');
                $confirmBtn.removeClass('display-none');
                // show msg
                if ($toast.css('display') != 'none') return;
                try {
                    var msg = JSON.parse(err.response).errmsg; 
                } catch (e) {
                    var msg = 'Unknown Error';
                }
                $toast.find('.weui-toast__content').text(msg);
                $toast.fadeIn(100);
                setTimeout(function () {
                    $toast.fadeOut(100);
                }, 2000);
            }
        });
    }

    function scanFunc(el) {
        var $parcel_unit = $(el).closest('.parcel-unit');
        var $parcel_series = $parcel_unit.find('.parcel-series');
        var $confirmBtn = $parcel_unit.find('.confirm-parcel');
        var $cameraBtn = $parcel_unit.find('.camera-parcel');
        wx.scanQRCode({
            needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                $parcel_series.val(result);
                if (!validateParcel(result)) {
                    return;
                };
                $confirmBtn.removeClass('disabled');
                $cameraBtn.removeClass('disabled');
            }
        });
    }
    
    var $dialog = $('#androidDialog');
    var $toast = $('#toast');
    function deleteFunc(el) {
        var $parcel_unit = $(el).closest('.parcel-unit');
        var id = $parcel_unit.data('id');
        var pid = $parcel_unit.data('pid');
        if (!id || !pid) return;
        
        $dialog.fadeIn(200).find('.parcelId').text($parcel_unit.find('.parcel-series').val()); 
        $dialog.on('click', '.weui-dialog__btn', function(){
            $dialog.fadeOut(200);
            $dialog.off('click', '.weui-dialog__btn', null);
            var data = {user: 'oCXVSt-WnhdRwjsZbyFUG_GN1BXc', 'pid': pid};
            if ($(this).hasClass('confirm-delete')) {
                $.ajax({
                    type: "POST",
                    url: '/api/parcel/' + id + '/remove',
                    data: data,
                    success: function(res) {
                        
                        if (res && res._id) {
                            $parcel_unit.remove();
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
        });
    }
    
    function cameraFunc(el) {
        if ($(el).hasClass('disabled')) return;
        var $parcel_unit = $(el).closest('.parcel-unit');
        var $parcel_series = $parcel_unit.find('.parcel-series');
        var parcelSeries = $parcel_series.val();
        if (!parcelSeries) return;
        
        wx.chooseImage({
            count: 2, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                if (localIds) {
                    wxuploadImage(localIds[0], $parcel_unit);
                }
            }
        });
    }

    function wxuploadImage(id, $parcel_unit) {
        wx.uploadImage({
            localId: id, // 需要上传的图片的本地ID，由chooseImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                var mediaId = res.serverId; // 返回图片的服务器端ID
                if (mediaId) {
                   // uploadPhotoBySeries(mediaId)
                   $parcel_unit.data('media', mediaId);
                }
            },
            fail: function (err) {
                console.log(err)
            }
        });
    }
    /*function uploadPhotoBySeries(mediaId) {
        var data = {mediaId: mediaId};
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '/api/parcel/' + series + '/photo',
            data: data,
            success: function(res) {
            },
        });
    }*/

    function validateParcel(series) {
        var valid = true;
        $parcel_list.find('input[disabled').each(function(i, el) {
            console.log(el.value);
            if (series == el.value) valid = false;
        });
        if (!valid) {
            // show msg
            if ($toast.css('display') != 'none') return;
            $toast.find('.weui-toast__content').text('包裹号 已存在');
            $toast.fadeIn(100);
            setTimeout(function () {
                $toast.fadeOut(100);
            }, 2000);
        }
        return valid;
    }
</script>
{{/section}}